<div class="content">
  <img src="/images/logo.svg" alt="">
  <h3 class="ml13">x-DEV</h3>
  <h1 class="ml13">Never Get disconnected</h1>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <div class="arrow bounce">
    <a class="fa fa-arrow-down" href="#"></a>
  </div>
  <section class="button">
    <div class="searchBox">
      <a href="/room"><button class="searchButton" >Create Room</button></a>
    </div>
  </section>
  <section class="social_icons">
    <a href="#" title="Facebook" target="_blank"
      ><i class="fa fa-facebook"></i
    ></a>
    <a href="#" title="Instagram" target="_blank"
      ><i class="fa fa-instagram"></i
    ></a>
    <a href="#" title="Twitter" target="_blank"
      ><i class="fa fa-twitter"></i
    ></a>
    <a href="#" title="Telegram" target="_blank"
      ><i class="fa fa-telegram"></i
    ></a>
  </section>
</div>
